body {
  margin: 0px;
  background-color:#f3edeb;
}

.container{
  background-color:# #fafaf1 ;
}

header {
  background-color:#ffffff;
  width: 100%;
  height: 60px;
}

.a {
  display: flex;
  list-style-type: none;
  font-size: 19px;
  justify-content: center;
  margin: 0px;
}

li {
  margin: 20px;
  font-family: Arial;
}

#text {
  align-items: center;
  font-size:20px;
}

li a {
 color: black;
 text-decoration: none;
}

.FetchModulesParaContainer{
  text-align: center;
  margin: 30px;
}

.box{
  background-color: #ffffff;
  height:40%;
  width: 60%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  text-align: left;
  margin-left:auto;
  margin-right: auto;
  margin-top: 35px;
  }

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 60px;
  margin-left:auto;
  margin-right: auto;
  color: #2617d8;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin-left: 68%;
  }

  form {
    width: 500px;
    margin-left: 40%;

  }
  label {
    display: inline-block;
    width: 200px;
  }
  input {
    display: inline-block;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-top: 10%;
    cursor: pointer;
  }

.TextContainer1{
  color: red;
  text-align: center;
}

.list1{
  color: green;
}

.c {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-bottom: 0%;
}

.c > li {
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@media (min-width: 40em) {
    .my-nav > li {
        display: inline-block;
    }
}

.c > li:before {
    content: "\200B"; /* Adds a breaking space */
    position: absolute; /* Makes sure that the DOM flow isnt messed up */
}

.dropdown > summary {/* Styles the clickable (links) text */
    cursor: pointer;
    /* Customize from here down */
    color: blue;
}

.dropdown {/* Positions the dropdown content*/
    display: inline-block;
    position: relative;
}


.dropdown > ul {/* Styles the dropdown */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0.25em;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 19em;
    position: absolute;
    top: 1.5em;
    z-index: 999;
}

.dropdown > ul > li:before {
    content: "\200B";/* Adds a breaking space */
    position: absolute; /* Makes sure that the DOM flow isnt messed up */
}

.TextContainer2{
  float: left;
  width: 50%;

}

.box2{
  background-color: #ffffff;
  height:50%;
  width: 60%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  text-align: left;
  margin-left:auto;
  margin-right: auto;
  margin-top: 35px;
  }

  .box3{
    background-color: #ffffff;
    height:97%;
    width: 60%;
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
    text-align: left;
    margin-left:auto;
    margin-right: auto;
    margin-top: 35px;
    }

.degreeprogrammetextcontainer{
padding-left:50px;
padding-top: 2px;
}
